<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<title>Lisää</title>
</head>
<body>
<div class="container">
	<h1>Uusi asiakas</h1>
	<div>
	<form th:object="${uusiAsiakas}" th:action="@{/saveAsiakas}" action="#" method="post">
		  	<div>
		  		<label>Etunimi</label>
				<input type="text" th:field="*{etunimi}" />
			</div>
			<div>
			  	<label>Sukunimi</label>
				<input type="text" th:field="*{sukunimi}" />
			</div>
			<div>
			  	<label>Sähköposti</label>
			  	<input type="text" th:field="*{sposti}" />
			</div>
			<div>
			  	<label>Puhelin</label>
				<input type="text" th:field="*{puhelin}" />
			</div>
			<div>
			  	<label>Katuosoite</label>
				<input type="text" th:field="*{katuosoite}" />
			</div><br>
			
		  	<div class="col-auto my-1">
						<label class="mr-sm-2">Postitoimipaikka</label>
							<select class="form-control col-sm-10" id="postinumerot" th:field="*{postinumero}" >
	       						<option th:each="postinumero: ${postinumerot}" th:value="${postinumero.postinumero}" th:text="${postinumero.postitoimipaikka} + ' ' + ${postinumero.postinumero}"></option>
	    					</select>
			   		</div>
						
			<input type="submit" class="btn btn-success" value="Tallenna"></input>
		</form>
<a class="btn btn-secondary" href="/asiakkaat" role="button">Asiakaslistaukseen</a>
	</div>
	
</div>
</body>
</html>