<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<title>Lisää</title>
</head>
<body>
<div class="container">
	<div class="in-line">
		<h1>Anna asiakastiedot</h1>
	</div>
	<div>			<!-- uusiAsiakas -->
		<form th:object="${asiakas}" th:action="@{/saveAsiakas}" action="#" method="post">
			  	<div class="col-auto my-1">
			  		<label class="mr-sm-2">Etunimi</label>
			  		<div class="col-sm-10">
						<input class="form-control" type="text" th:field="*{etunimi}" />
			 			<div th:if="${#fields.hasErrors('etunimi')}" th:errors="*{etunimi}">Error</div>
					</div>
				</div>
				<div class="col-auto my-1">
				  	<label class="mr-sm-2">Sukunimi</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" th:field="*{sukunimi}" />
						<div th:if="${#fields.hasErrors('sukunimi')}" th:errors="*{sukunimi}">Error</div>
					</div>
				</div>
				<div class="col-auto my-1">
				  	<label class="mr-sm-2">Sähköposti</label>
				  	<div class="col-sm-10">
					  	<input class="form-control" type="text" th:field="*{sposti}" />
					  	<div th:if="${#fields.hasErrors('sposti')}" th:errors="*{sposti}">Error</div>
					</div>
				</div>
				<div class="col-auto my-1">
				  	<label class="mr-sm-2">Puhelin</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" th:field="*{puhelin}" />
						<div th:if="${#fields.hasErrors('puhelin')}" th:errors="*{puhelin}">Error</div>
					</div>
				</div>
				<div class="col-auto my-1">
				  	<label class="mr-sm-2">Katuosoite</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" th:field="*{katuosoite}" />
						<div th:if="${#fields.hasErrors('katuosoite')}" th:errors="*{katuosoite}">Error</div>
					</div>
				</div>
				
			  	<div class="col-auto my-1">
					<label class="mr-sm-2">Postitoimipaikka</label>
					<select class="form-control col-sm-10" id="postinumerot" th:field="*{postinumero}" >
		       			<option th:each="postinumero: ${postinumerot}" th:value="${postinumero.id}" th:text="${postinumero.postitoimipaikka} + ' ' + ${postinumero.postinumero}"></option>
		    		</select>
					<div th:if="${#fields.hasErrors('postinumero')}" th:errors="*{postinumero}">Error</div>
		   		</div><br>
				<div class="form-group align-center" >	
					<input type="submit" class="btn btn-success" value="Tallenna"></input>
					<a class="btn btn-secondary" href="/asiakkaat" role="button">Asiakaslistaukseen</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>