<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<title>Lisää</title>
</head>
<body>
<div class="container">
	<h1>Uusi huone</h1>
	<div>
		<form th:object="${huone}" th:action="@{saveHuone}" action="#" method="post">
		  	<div>
		 		<label>Huonenumero</label>
				<input type="text" th:field="*{huoneNro}" />
				<div th:if="${#fields.hasErrors('huoneNro')}" th:errors="*{huoneNro}">Error</div>
			</div>
			<div>
			  	<label>Kuvaus</label>
				<input type="text" th:field="*{huoneKuvaus}" />
				<div th:if="${#fields.hasErrors('huoneKuvaus')}" th:errors="*{huoneKuvaus}">Error</div>
			</div>
		 	<div>
			  	<label>Hinta</label>
			  	<input type="number" th:field="*{hinta}" />
			</div>
		<br>
			
		  	
						
			<input type="submit" class="btn btn-success" value="Tallenna"></input>
		</form>
<a class="btn btn-secondary" href="/huoneet" role="button">Huonelistaukseen</a>
	</div>
	
</div>
</body>
</html>