<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Asiakkaat</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">  -->
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div>
		<br> <br>
			<a class="btn btn-info" href="/index" role="button">Etusivulle</a>
			<a class="btn btn-warning" href="/addAsiakas" role="button">Lisää uusi asiakas</a>
		<br> <br>
		</div>
		<div>
			<h1>Asiakkaat</h1>			
		</div>
		<div>
			<table class="table table-bordered table-striped"> <!--table-responsive   -->
				<tr>
					<th>AsiakasId</th>
					<th>Nimi</th>
					<th>Sposti</th>
					<th>Puhelin</th>
					<th>Osoite</th>
			<!--		<th>Varaus</th>-->
					<th></th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>
				<tr th:each = "asiakas : ${asiakkaat}">
					<td th:text="${asiakas.asiakasId}"></td>
					<td th:text="${asiakas.etunimi} + ' ' + ${asiakas.sukunimi}"></td>
					<td th:text="${asiakas.sposti}"></td>
					<td th:text="${asiakas.puhelin}"></td>
					<td th:text="${asiakas.katuosoite} + ', ' + ${asiakas.postinumero.postinumero} + ' ' + ${asiakas.postinumero.postitoimipaikka}"></td>
					<!--	<td th:text="${varaus}"></td>
					<td th:text="${varaukset}"></td>
					<td><a th:href="@{/asiakasvaraukset/{id}(id=${asiakas.asiakasId})}" class="btn btn-outline-info">Varaukset</a></td>-->
					<td><a th:href="@{/editAsiakas/{id}(id=${asiakas.asiakasId})}" class="btn btn-outline-warning">Muokkaa</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteAsiakas/{id}(id=${asiakas.asiakasId})}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-outline-danger">Poista</a></td>
					<!--  -->
				</tr>
			</table>
		</div>
	</div>
</body>
</html>