<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<title>Muokkaa</title>
</head>
<body>
<div class="container">
	<h1>Muokkaa huonetta</h1>
	<div>
	<form th:object="${editHuone}" th:action="@{/saveHuone}" action="#" method="post">
		  	<div>
				<input type="hidden" id="huoneNro" th:field="*{huoneNro}" />
			</div>
			<div>
			  	<label>Kuvaus</label>
				<input type="text" th:field="*{kuvaus}" />
			</div>
			<div>
			  	<label>Hinta</label>
			  	<input type="number" th:field="*{hinta}" />
			</div>
			<div>
			  	<label>Vapaa</label>
				<input type="text" th:field="'*{onkoVapaa}'" />
			</div><br>
			
		  	
						
			<input type="submit" class="btn btn-success" value="Tallenna"></input>
		</form>
<a class="btn btn-secondary" href="/huoneet" role="button">Huonelistaukseen</a>
	</div>
	
</div>
</body>
</html>