<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<title>Muokkaa</title>
</head>
<body>
	<div class="container">
		<div class="in-line">
			<h1>Muokkaa huonetietoja</h1>
		</div>
		<div>
			<form th:object="${editHuone}" th:action="@{/saveHuone}" action="#" method="post">
				 <div class="col-auto my-1">
				 	<input type="hidden" id="id" th:field="*{id}" /><!--  -->
				 </div>
				  	<div class="col-auto my-1">
					  	<label class="mr-sm-2 ">Huonenumero</label>
					  	 <div class="col-sm-10">
							<input class="form-control" type="text" readonly="readonly" th:field="*{huoneNro}" /><!-- -->
						</div>
					</div>
					<div class="col-auto my-1">
					  	<label class="mr-sm-2 ">Kuvaus</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" th:field="*{huoneKuvaus}" />
						</div>
					</div>
					<div class="col-auto my-1">
					  	<label class="mr-sm-2 ">Hinta</label>
					  	<div class="col-sm-10">
						  	<input class="form-control" type="number" th:field="*{hinta}" />
						  	<div th:if="${#fields.hasErrors('hinta')}" th:errors="*{hinta}">Error</div>
						</div>
					</div>
					<div class="col-auto my-1">
					  	<label class="mr-sm-2 ">Vapaa</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" readonly="readonly" th:field="*{onkoVapaa}" /><!--disabloituna myöhempää kehitystä varten -->
						</div>
					</div>
				<div class="form-group align-center" >
					<input type="submit" class="btn btn-success" value="Tallenna"></input>
					<a class="btn btn-secondary" href="/huoneet" role="button">Huonelistaukseen</a>
				</div>
			</form>
			
		</div>
	</div>
</body>
</html>