<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<title>Huoneet</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div>
			<br> <br>
			<a class="btn btn-info" href="/index" role="button">Etusivulle</a>
			<a class="btn btn-warning" href="/addHuone" role="button">Lisää huone</a>
			 <br> <br>
		</div>
		<div>
			<h3>Huoneet</h3>
			<div class="card">
				<table class="table table-bordered table-striped">
					<tr>
						<th>Huonenumero</th>
						<th>Kuvaus</th>
						<th>Hinta</th>
						<th>Vapaa</th>
						<th></th>
						<th></th>
					</tr>
					<tr th:each = "huone : ${huoneet}">
						<td th:text="${huone.huoneNro}"></td>
						<td th:text="${huone.huoneKuvaus}"></td>
						<td th:text="${huone.hinta} + ' €'"></td>
						<td th:text="${huone.onkoVapaa}"></td>
						<td><a th:href="@{/editHuone/{id}(id=${huone.id})}" class="btn btn-outline-warning">Muokkaa</a></td>
					<td><a th:href="@{/deleteHuone/{id}(id=${huone.id})}" class="btn btn-outline-danger">Poista</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>