<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotelli</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="list-group-item">
			<h3>Etusivu</h3>
			<div class="card">
				<a href="/asiakas/asiakkaat" class="list-group-item list-group-item-action list-group-item-info" >Asiakkaat</a>
				<a href="/tyontekijat" class="list-group-item list-group-item-action list-group-item-info">Työntekijät</a>
				<a href="/huoneet" class="list-group-item list-group-item-action list-group-item-info">Huoneet</a>
				<a href="/huonevaraukset" class="list-group-item list-group-item-action list-group-item-info">Huonevaraukset</a>
				<a href="/varaukset" class="list-group-item list-group-item-action list-group-item-info">Varaukset</a>
				<a href="/postinumerot" class="list-group-item list-group-item-action list-group-item-info">Postinumerot</a>
			</div>
		
		</div>
	</div>
</body>
</html>