<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<head>
<title>Postinumerot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div>
			<br> <br>
			<a class="btn btn-info" href="/index" role="button">Etusivulle</a>
			<a class="btn btn-warning" href="/addPostinumero" role="button">Lisää postinumero</a>
			<br> <br>
		</div>
		<div>
			<h3>Postinumerot</h3>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Postinumero</th>
					<th>Postitoimipaikka</th>
					<th></th>
				<!-- 	<th></th>-->
				</tr>
				<tr th:each = "postinumero : ${postinumerot}">
					<td th:text="${postinumero.postinumero}"></td>
					<td th:text="${postinumero.postitoimipaikka}"></td>
			<!-- 		<td><a th:href="@{/editPostinumero/{id}(id=${postinumero.postinumero})}" class="btn btn-outline-warning">Muokkaa</a></td> -->
					<td><a th:href="@{/deletePostinumero/{id}(id=${postinumero.id})}" class="btn btn-outline-danger">Poista</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>