<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
<head>
<title>Postinumerot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="container">
		<div class="col-auto my-5">
			<a class="btn btn-info" href="/index" role="button">Etusivulle</a>
			<a class="btn btn-warning" href="/addPostinumero" role="button" sec:authorize="hasAuthority('ADMIN')">Lisää postinumero</a>
		</div>
		<div>
			<h3>Postinumerot</h3>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Postinumero</th>
					<th>Postitoimipaikka</th>
					<th sec:authorize="hasAuthority('ADMIN')"></th>
				</tr>
				<tr th:each = "postinumero : ${postinumerot}">
					<td th:text="${postinumero.postinumero}"></td>
					<td th:text="${postinumero.postitoimipaikka}"></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletePostinumero/{id}(id=${postinumero.id})}" class="btn btn-outline-danger">Poista</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>