<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<title>Työntekijät</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container">
		<div>
			<br> <br>
			<a class="btn btn-info" href="/" role="button">Etusivulle</a>
			<a class="btn btn-warning" href="/addTyontekija" role="button">Lisää uusi työntekijä</a>
			 <br> <br>
		</div>
		<div class="row">
			<h1>Työntekijät</h1>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Työntekijän id</th>
					<th>Nimi</th>
					<th>Sposti</th>
					<th>Puhelin</th>
					<th>Osoite</th>
					<th>Postinumero</th>
					<th>Postitoimipaikka</th>
					<th></th>
					<th></th>
				</tr>
				<tr th:each = "tyontekija : ${tyontekijat}">
					<td th:text="${tyontekija.tyontekijaId}"></td>
					<td th:text="${tyontekija.etunimi} + ' ' + ${tyontekija.sukunimi}"></td>
					<td th:text="${tyontekija.sposti}"></td>
					<td th:text="${tyontekija.puhelin}"></td>
					<td th:text="${tyontekija.katuosoite}"></td>
					<td th:text="${tyontekija.postinumero.postinumero}"></td>
					<td th:text="${tyontekija.postinumero.postitoimipaikka}"></td>
					<td><a th:href="@{/editTyontekija/{id}(id=${tyontekija.tyontekijaId})}" class="btn btn-outline-warning">Muokkaa</a></td>
					<td><a th:href="@{/deleteTyontekija/{id}(id=${tyontekija.tyontekijaId})}" class="btn btn-outline-danger">Poista</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>